#**iNeuron**
## Programming Assignment - 15 (Python Basic)

- Batch - Full Stack Data Science Bootcamp 2.0
- Name - **Mayur Soni**
- Email ID - **mayurssoni007@gmail.com**

-----------------------------------------------------------------

#Q.1) Please write a program using generator to print the numbers which can be divisible by 5 and 7 between 0 and n in comma separated form while n is input by console.
##Example:
##If the following n is given as input to the program: **```100```**
##Then, the output of the program should be: **```0,35,70```**

In [19]:
def calc(n):
  for i in range(0,n):
    if (i % 5 == 0) and (i % 7 == 0):
      yield i

n = int(input("Enter a number: "))

output = ",".join(str(num) for num in calc(n))

print(output)

Enter a number: 100
0,35,70

---------------------------------------------------------------------

#Q.2) Please write a program using generator to print the even numbers between 0 and n in comma separated form while n is input by console.
##Example:
##If the following n is given as input to the program: **```10```**
##Then, the output of the program should be: **```0,2,4,6,8,10```**

In [27]:
def calc(n):
  for i in range(0,n+1):
    if (i % 2 == 0):
      yield i

n = int(input("Enter a number: "))

output = ",".join(str(num) for num in calc(n))

print(output)

Enter a number: 10
0,2,4,6,8,10

---------------------------------------------------------------------

#Q.3) The Fibonacci Sequence is computed based on the following formula:
##f(n)=0 if n=0
##f(n)=1 if n=1
##f(n)=f(n-1)+f(n-2) if n>1
##Please write a program using list comprehension to print the Fibonacci Sequence in comma separated form with a given n input by console.
##Example:
##If the following n is given as input to the program: **```7```**
##Then, the output of the program should be: **```0,1,1,2,3,5,8,13```**

In [38]:
def fibonacci(n):
  sequence = [0,1]
  if n <= 1:
    return sequence[:n+1]
  else:
    [sequence.append(sequence[-1] + sequence[-2]) for _ in range(n-1)]
  return sequence

n = int(input("Enter a number : "))

output = ",".join(str(num) for num in fibonacci(n))

print(output)

Enter a number : 7
0,1,1,2,3,5,8,13

---------------------------------------------------------------------

#Q.4) Assuming that we have some email addresses in the ```"username@companyname.com"``` format, please write program to print the user name of a given email address. Both user names and company names are composed of letters only.
##Example:
##If the following email address is given as input to the program: **```john@google.com```**
##Then, the output of the program should be: **```john```**

In [44]:
def email():
  inpu = input("Enter email address : ")
  outpu = inpu.split("@")
  print(f"Username is : {outpu[0]}")
email()

Enter email address : john@google.com
Username is : john

---------------------------------------------------------------------

#Q.5) Define a class named Shape and its subclass Square. The Square class has an init function which takes a length as argument. Both classes have a area function which can print the area of the shape where Shape's area is 0 by default.

In [49]:
class Shape():
  def area(self):
    return 0

class Square(Shape):
  def __init__(self,length):
    self.length = length
  def area(self):
    return self.length * self.length

square = Square(45)
print(square.area())

2025

------------------------------------------------------------End------------------------------------------------------------