#**iNeuron**
## Programming Assignment - 23 (Python Basic)

- Batch - Full Stack Data Science Bootcamp 2.0
- Name - **Mayur Soni**
- Email ID - **mayurssoni007@gmail.com**

-------------------------------------------------------------------

#Q.1) Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
##Examples :
##```is_symmetrical(7227) ➞ True```

##```is_symmetrical(12567) ➞ False```

##```is_symmetrical(44444444) ➞ True```

##```is_symmetrical(9939) ➞ False```

##```is_symmetrical(1112111) ➞ True```

In [5]:
def is_symmetrical(num):
  if str(num) == str(num)[::-1]:
    print(f"is_symmetrical({num}) ➞ True\n")
  else:
    print(f"is_symmetrical({num}) ➞ False\n")

is_symmetrical(7227)
is_symmetrical(12567)
is_symmetrical(44444444)
is_symmetrical(9939)
is_symmetrical(1112111)

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

-------------------------------------------------------------------

#Q.2) Given a string of numbers separated by a comma and space, return the product of the numbers.
##Examples :
##```multiply_nums("2, 3") ➞ 6```

##```multiply_nums("1, 2, 3, 4") ➞ 24```

##```multiply_nums("54, 75, 453, 0") ➞ 0```

##```multiply_nums("10, -2") ➞ -20```

In [8]:
def multiply_nums(num):
  output_string = num.replace(' ','').split(',')
  output = 1
  for i in output_string:
    output *= int(i)

  print(f"multiply_nums({num}) ➞ {output}\n")


multiply_nums("2, 3")
multiply_nums("1, 2, 3, 4")
multiply_nums("54, 75, 453, 0")
multiply_nums("10, -2")

multiply_nums(2, 3) ➞ 6

multiply_nums(1, 2, 3, 4) ➞ 24

multiply_nums(54, 75, 453, 0) ➞ 0

multiply_nums(10, -2) ➞ -20

-------------------------------------------------------------------

#Q.3) Create a function that squares every digit of a number.
##Examples :
##```square_digits(9119) ➞ 811181```

##```square_digits(2483) ➞ 416649```

##```square_digits(3212) ➞ 9414```

##Notes
###• The function receives an integer and must return an integer.

In [14]:
def square_digits(num):
  input_digits = [str(int(digit) ** 2) for digit in str(num)]
  output_num = int(''.join(input_digits))

  print(f"square_digits({num}) ➞ {output_num}\n")

square_digits(9119)
square_digits(2483)
square_digits(3212)

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

-------------------------------------------------------------------

#Q.4) Create a function that sorts a list and removes all duplicate items from it.
##Examples :
##```setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]```

##```setify([4, 4, 4, 4]) ➞ [4]```

##```setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]```

##```setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]```

In [48]:
def setify(input_list):
  sorted_list = sorted(set(input_list))
  print(f"setify({input_list}) ➞ {sorted_list}\n")

setify([1, 3, 3, 5, 5])
setify([4, 4, 4, 4])
setify([5, 7, 8, 9, 10, 15])
setify([3, 3, 3, 2, 1])

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

-------------------------------------------------------------------

#Q.5) Create a function that returns the mean of all digits.
##Examples :
##```mean(42) ➞ 3```

##```mean(12345) ➞ 3```

##```mean(666) ➞ 6```

##Notes
###•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
###•	The mean will always be an integer.

In [47]:
def mean(num):
  num_str = str(num)

  digit_sum = sum(int(digit) for digit in num_str)
  digit_count = len(num_str)

  mean = digit_sum / digit_count

  print(f"mean({num}) ➞ {int(mean)}\n")

mean(42)
mean(12345)
mean(666)

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

------------------------------------------------------------End------------------------------------------------------------