#**iNeuron**
## Python (Basics) Assignment No. 6

- Batch - Full Stack Data Science Bootcamp 2.0
- Name - **Mayur Soni**
- email id - **mayurssoni007@gmail.com**

----------------------------------------------------

##Q.1) What are escape characters, and how do you use them ?

###**Answer -** 
- Escape characters are therefore in Python **to insert characters that are illegal to use in a string.**
- Some Escape characters in Python are - 
  - ```\'``` (Single quotation mark)
  - ```\"``` (Double quotation mark)
  - ```\\``` (Backslash)
  - ```\n``` (New Line)
  - ```\t``` (Tab)
  - ```\b``` (Backspace)  etc.
- To use them in our code, **we use \ (backslash)** and then the character we want to insert. For example.... ``` \"``` will insert  **" (double quotation mark)** in our code.

In [3]:
print("Ranbir is a \"Good Looking\" Man.")

Ranbir is a "Good Looking" Man.

-----------------------------------------------------------

##Q.2) What do the escape characters n and t stand for ?

###**Answer -**
- Escape character **```\n```** is used **to Enter a New Line** in a string.
- Escape character **```\t```** is used **to Enter a Tab** in a string.

In [8]:
# Example of \n escape character...

print("India won the Cricket ODI World Cup in 2011." "\nMS Dhoni was the Hero of that Final Match.")

India won the Cricket ODI World Cup in 2011.
MS Dhoni was the Hero of that Final Match.

In [9]:
# Example of \t escape character...

print("Yuvraj Singh was declared and given :" "\tPlayer of the Series Award" "\tin 2011 Cricket ODI World Cup.")

Yuvraj Singh was declared and given :	Player of the Series Award	in 2011 Cricket ODI World Cup.

----------------------------------------------

##Q.3) What is the way to include backslash characters in a string ?

###**Answer -** To include a backslash charater in a string.... we use **```\\```** (Double backslash).

In [11]:
# Example of including a backslash character \ in a string...

print("Cricket is the most Famous\\Rich Sports in India.")

Cricket is the most Famous\Rich Sports in India.

-----------------------------------------

##Q.4) The string "Howl's Moving Castle" is a correct value. Why isn't the single quote character in the word Howl's not escaped a problem ?

###**Answer -** The single quote in Howl's is fine because **we've used double quotes to mark the beginning and the ending of the string.**

----------------------------------------------------

##Q.5) How do you write a string of newlines if you don't want to use the n character ?

###**Answer -** We will use ```"""``` (3 times double quotation marks) or ```'''``` (3 times single quotation mark) at the beginning and at the ending of our string. For example...

In [87]:
print("""
A stands for Apple in School.
B stands for Boy in school.
""")

A stands for Apple in School.
B stands for Boy in school.

In [14]:
print('''
C stands for Cat in school.
D stands for Dog in school.
''')

C stands for Cat in school.
D stands for Dog in school.

-------------------------------------------------

##Q.6) What are the values of the given expressions ?
```
'Hello, world!'[1]
'Hello, world!'[0:5]
'Hello, world!'[:5]
'Hello, world!'[3:]
```

###**Answer -**

In [26]:
# [1] Prints the 1st index position of the given string.

'Hello, world!'[1]

'e'

In [24]:
# [0:5] prints from the 0th to the (5 - 1) = 4th index position of the string.

'Hello, world!'[0:5]

'Hello'

In [23]:
# [:5] also prints from the 0th to the (5 - 1) = 4th index position of the string, no matter we have given the starting index postion or not.

'Hello, world!'[:5]

'Hello'

In [27]:
# [3:] starts printing the string from the 3rd index position to the last index position.

'Hello, world!'[3:]

'lo, world!'

--------------------------------------------

##Q.7) What are the values of the following expressions ?
```
'Hello'.upper()
'Hello'.upper().isupper()
'Hello'.upper().lower()
```

###**Answer -**

In [28]:
# upper() converts the string into UPPER Case.

'Hello'.upper()

'HELLO'

In [30]:
# .upper() is converting the string in upper case and then .isupper() is checking whether the string is in upper case or not, if it is... then returns as True.

'Hello'.upper().isupper()

True

In [33]:
# .upper() is converting the string in upper case and then .lower() is again converting the already converted upper case string into lower case.

'Hello'.upper().lower()

'hello'

-----------------------------------------

##Q.8) What are the values of the following expressions ?
```
'Remember, remember, the fifth of July.'.split()
'-'.join('There can only one.'.split())
```

###**Answer -**

In [35]:
# .split() is splitting or dividing the whole string into an ordered list of substrings.

'Remember, remember, the fifth of July.'.split()

['Remember,', 'remember,', 'the', 'fifth', 'of', 'July.']

In [88]:
# 1st of all the .split() function divides the whole string into an ordered list.
# and then the '-'.join() function is adding hyphen in between every word of the divided string.

'-'.join('There can only one.'.split())

'There-can-only-one.'

-------------------------------------------------

##Q.9) What are the methods for right-justifying, left-justifying, and centering a string ?

###**Answer -** The methods are...
- For right-justifying, we use ```rjust()```.
- For left-justifying, we use ```ljust()```.
- For centering, we use ```center()```.

In [55]:
# Example of right justifying...

a = "Cricket is my favourite sport."
print(f"Normal String is : {a}")

print(f"String after Right justifying : {a.rjust(50, '-')}")

Normal String is : Cricket is my favourite sport.
String after Right justifying : --------------------Cricket is my favourite sport.

In [56]:
# Example of left justifying...

a = "Cricket is my favourite sport."
print(f"Normal String is : {a}")

print(f"String after Left justifying : {a.ljust(50, '-')}")

Normal String is : Cricket is my favourite sport.
String after Left justifying : Cricket is my favourite sport.--------------------

In [57]:
# Example of centering...

a = "Cricket is my favourite sport."
print(f"Normal String is : {a}")

print(f"String after Centering : {a.center(50, '-')}")

Normal String is : Cricket is my favourite sport.
String after Centering : ----------Cricket is my favourite sport.----------

-------------------------------------------------------------

##Q.10) What is the best way to remove whitespace characters from the start or end ?

###**Answer -** 
- To **remove** whitespace characters **from starting and ending** of the string, we **use ```.strip()```** function in our string.
- To **remove** whitespace characters only **from beginning** of the string, we **use ```.lstrip()```** function in our string.
- To **remove** whitespace characters only **from ending** of the string, we **use ```.rstrip()```** function in our string.

In [76]:
# Example of removing whitespace characters from our string.

s = "     Hello World     "

print(f"Normal String is: {s} Example")

print(f"String after removing whitespace characters: {s.strip()} Example")

Normal String is:      Hello World      Example
String after removing whitespace characters: Hello World Example

In [89]:
# Example of removing left whitespace characters from our string.

s = "     Hello World     "

print(f"Normal String is: {s} Example.")

print(f"String after removing whitespace characters from left:{s.lstrip()} Example.")

Normal String is:      Hello World      Example.
String after removing whitespace characters from left:Hello World      Example.

In [83]:
# Example of removing right whitespace characters from our string.

s = "     Hello World     "

print(f"Normal String is: {s} Example.")

print(f"String after removing whitespace characters from right:{s.rstrip()} Example.")

Normal String is:      Hello World      Example.
String after removing whitespace characters from right:     Hello World Example.

------------------------------------------------------------End------------------------------------------------------------